</script>
<div class="containerChat">
    <h1>CHAT</h1>
    <div class="containerHistoryChat" id="containerHistoryChat">
        {{#each historyChat }}
            <p><strong>{{this.user}}: </strong>{{this.message}}</p>
        {{/each}}
    </div>
    <div>
        <input type="text" id="message" placeholder="Escribe tu mensaje" class="inputMsg" onkeyup="sendMsg(event)">
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
