<div class="bodyUser">
    <form class="formUser" id="formUser">
        <label for="nombre" class="labelUser">Nombre</label>
        <input type="text" placeholder="Nombre" id="nombre" class="inputUser" value="pruebanombre">

        <label for="apellido" class="labelUser">Apellido</label>
        <input type="text" placeholder="Apellido" id="apellido" class="inputUser" value="pruebaapellido">

        <label for="edad" class="labelUser">Edad</label>
        <input type="number" placeholder="edad" id="edad" class="inputUser" value="30">

        <label for="email" class="labelUser">Email</label>
        <input type="text" placeholder="Ingresa tu Email" id="email" class="inputUser" value="pruebaemail">

        <label for="password" class="labelUser">Contraseña</label>
        <input type="password" placeholder="Ingresa tu contraseña" id="password" class="inputUser" value="pruebapassword">

        <button class="btnUser" type="button" onclick="register()">Registrarse</button>
        <div class="social">
            <h4>Ya tienes cuenta?</h4>
            <div>
                <button class="btnLogin" type="button" onclick="goLogin()">Ingresar</button>
            </div>
        </div>
    </form>
</div>