<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.1/dist/sweetalert2.min.css" rel="stylesheet">
        <title>Document</title>
    </head>
    <nav>
        <div class="containerImg">
            <a href="#"><img src="/images/logo.jpg" alt=""></a>
        </div>
        <div class="enlaces">
            <a href="#" class="enlaces">Inicio |</a>
            <a href="#" class="enlaces">Algo mas |</a>
            <a href="#" class="enlaces">Algo mas</a>
        </div>
        <div class="login">
            Login
        </div>
    </nav>
    <body>
        <div class="container">
            {{{body}}}
        </div>
    </body>
    <footer>
        Hecho por: Michael Vasquez
    </footer>
</html>

