<div class="bodyUser">
    <form class="formUser" id="formUser">
        <h3>Ingreso</h3>

        <label for="email" class="labelUser">Email</label>
        <input type="text" placeholder="Ingresa tu Email" id="email" class="inputUser" value="michael@prueba.com">

        <label for="password" class="labelUser">Contraseña</label>
        <input type="password" placeholder="Ingresa tu contraseña Ej:123456" id="password" class="inputUser">

        <button class="btnUser" type="button" onclick="login()">Ingresar</button>
        <div class="social">
            <h4>Aun no tienes cuenta?</h4>
            <div>
                <button class="btnLogin" type="button" onclick="goRegister()">Registrarse</button>
            </div>
        </div>
    </form>
</div>